/* V-2 */
@tailwind base;
@tailwind components;
@tailwind utilities;

.backdrop-bg-filter {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);  
}

/* Nav top flare */
.top-flare {
  -webkit-mask-image: linear-gradient(
    to top,
    rgba(16, 42, 86, 0),
    rgba(16, 42, 86, 1) 0%,
    rgba(16, 42, 86, 0.98) 95%,
    rgba(16, 42, 86, 0)
  );
  mask-image: linear-gradient(
    to top,
    rgba(16, 42, 86, 0),
    rgba(16, 42, 86, 1) 0%,
    rgba(16, 42, 86, 0.98) 95%,
    rgba(16, 42, 86, 0)
  );
}

/* Hero image container bottom flare */
.bottom-flare {
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(16, 42, 86, 0.9),
    rgba(16, 42, 86, 1) 0%,
    rgba(16, 42, 86, 1) 80%,
    rgba(16, 42, 86, 0)
  );
  mask-image: linear-gradient(
    to bottom,
    rgba(16, 42, 86, 0.9),
    rgba(16, 42, 86, 1) 0%,
    rgba(16, 42, 86, 1) 80%,
    rgba(16, 42, 86, 0)
  );
}

/* infinite logo scroll */
.logos {
  margin-inline: auto;
  -webkit-mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
}
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-150%);
  }
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  animation: 35s slide infinite linear;
}
/* infinite logo scroll */

/* hide scroll bar */
.hide-scroll {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox, Safari 18.2+, Chromium 121+ */
}
.hide-scroll::-webkit-scrollbar { 
    display: none;  /* Older Safari and Chromium */
}
/* gradient */

/* Hero eclipse animate */
@keyframes heroslide { 
  0% {
    scale: 1;
    transform: rotate(0deg);
  }
  50% {
    scale: 0.7;
    transform: rotate(-10deg);
  }
  100% {
    scale: 1;
    transform: rotate(0deg);
  }
}
.hero-eclipse {  
  animation: heroslide 5s ease-in-out infinite;
  transform-origin: center center; /* Optional for smoother pivot */
}

/* Animation delay */

@keyframes widthAnimate { 
  from {
    width: 100%;
    height: 100%;
  }
  to {
    max-width: 1280px;
    height: 350px;
    border-radius: 36px;
  }
}
@keyframes fullWidthAnimate { 
  from {
    max-width: 1280px;
    height: 350px;
    border-radius: 36px;
  }
  to {
    max-width: 100%;
    height: 100%;
    width: 100%;
  }
}
.animation-delay-3 {
  animation: fullWidthAnimate 1s ease-in-out;
    width: 100%;
    height: 100%;
}
.animation-delay {
  animation: widthAnimate 1s ease-in-out;
    height: 350px;
}

/* V-2 */

.gradient-bg {
  background: linear-gradient(
    111.71deg,
    #471287 35.61%,
    #1b55a8 76.41%,
    #2a9195 98.83%
  );
}
.gradient-blue {
  background: linear-gradient(271.25deg, #007cd7 0.4%, #5dbbff 96.61%);
}
.gradient-service {
  background: linear-gradient(107.95deg, #007cd7 2.74%, #093d69 100.44%);
}
/* .text-gradient {
  background: linear-gradient(
    97.29deg,
    #091e3a 0.36%,
    #2f80ed 48.79%,
    #2d9ee0 97.22%
  );
  background: -webkit-linear-gradient(
    97.29deg,
    #091e3a 0.36%,
    #2f80ed 48.79%,
    #2d9ee0 97.22%
  );
  -webkit-background-clip-path: text;
  -webkit-text-fill-color: transparent;
} */
.calc-height {
  height: calc(100vh - 150px);
}
.text-shadow {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}
.text-shadow-md {
  text-shadow: none;
}
.flip {
  transform: rotateY(180deg);
}

.backdrop-wide {
  background-color: transparent;
  backdrop-filter: none;
  -webkit-backdrop-filter: none;
  border-radius: 0px;
}

/* scroll bar hide */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge add Firefox */
.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none; /* Firefox */
}
/* scroll bar hide */
.webkit-sticky {
  position: -webkit-sticky;
  position: sticky;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
/* undo tailwind list unset */
@layer base {
  ul,
  ol {
    list-style: revert-layer;
  }
}

ul {
  list-style-type: square;
}
ul > li > ul {
  list-style-type: circle;
}
ul > li > ul > li > ul {
  list-style-type: square;
}
ol li {
  font-family: Arial;
}

@media (max-width: 768px) {
  .backdrop-wide {
    background-color: rgb(54, 79, 0, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 5px;
  }
  .text-shadow-md {
    text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.5);
  }
  .flip {
    transform: rotateY(0deg);
  }
}