@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #111827;
}

.gradient-bg {
  background: linear-gradient(
    111.71deg,
    #471287 35.61%,
    #1b55a8 76.41%,
    #2a9195 98.83%
  );
}
.gradient-blue {
  background: linear-gradient(271.25deg, #007cd7 0.4%, #5dbbff 96.61%);
}
.gradient-service {
  background: linear-gradient(107.95deg, #007cd7 2.74%, #093d69 100.44%);
}
.text-gradient {
  background: linear-gradient(
    97.29deg,
    #091e3a 0.36%,
    #2f80ed 48.79%,
    #2d9ee0 97.22%
  );
  background: -webkit-linear-gradient(
    97.29deg,
    #091e3a 0.36%,
    #2f80ed 48.79%,
    #2d9ee0 97.22%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.calc-height {
  height: calc(100vh - 150px);
}
.text-shadow {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}
.text-shadow-md {
  text-shadow: none;
}
.flip {
  transform: rotateY(180deg);
}
.backdrop-bg-filter {
  background-color: rgb(54, 79, 0, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 5px;
}
.backdrop-wide {
  background-color: transparent;
  backdrop-filter: none;
  -webkit-backdrop-filter: none;
  border-radius: 0px;
}

.webkit-sticky {
  position: -webkit-sticky;
  position: sticky;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
/* undo tailwind list unset */

@layer base {
  ul,
  ol {
    list-style: revert-layer;
  }
}

ul {
  list-style-type: square;
}
ul > li > ul {
  list-style-type: circle;
}
ul > li > ul > li > ul {
  list-style-type: square;
}
ol li {
  font-family: Arial;
}

@media (max-width: 768px) {
  .backdrop-wide {
    background-color: rgb(54, 79, 0, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 5px;
  }
  .text-shadow-md {
    text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.5);
  }
  .flip {
    transform: rotateY(0deg);
  }
}
